

/* ==========================================================================
   Author's Mairon Brasil
   ========================================================================== */
.text-facil{
	margin-top: -10px; 
}
.box-cambio{
    background-color: #302f2f;
    border-radius: 10px;
    height: 148px;
    color: #ecb31a;
    padding: 27px 30px 20px 30px;
}
.box-cambio label{
	font-weight: 400;
	font-size: 18px;
}

.box-cambio img.icon-dinheiro{
	margin-top: -7px;
}
.box-left .flexa-right{
	margin-top: -65px;
    margin-right: -68px;
    float: right;
}

.box-left .flexa-left{
	margin-top: 25px;
	margin-left: -110px;
	float: left;
}

.pais p{
  float: left;
  text-align: center;
  padding: 5px; 
}

.icons-pais{
  display: table;
  margin: 0 auto;
}

.select-right{
	margin-left: 55px !important;
}

.submit-cambio{
	margin: 0 auto;
  height: 50px;
  width: 280px;
  border-radius: 5px;
  font-weight: bold;
  border: 0;
  font-size: 21px;
  background-color: #ecb31a;
  margin-top: 25px;
}

.submit-cambio:disabled{
  background-color: #efd9a0;
  opacity: 0.7;
}

.newsletter{
	margin-top: 40px;
	border: 2px solid #e3e1df;
	border-radius: 3px;
	margin-bottom: 60px;
}

.newsletter-left{
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 35px;

}

.newsletter-left img{
	float: left;
}
.newsletter-left p{
	margin-top: 40px;
	font-weight: bold;
}

.newsletter-left span{
	color: #ecb31a;
}
.form-email{
	padding: 35px 35px 0px 35px;	
	float: right !important;
	background-color: #fff;
}

#error_explanation_newslatters{
	width: 360px;
	float: right;
}

ul{
	list-style: none;
}
	
.form-email input[type="text"]{
	width: 350px;	
	padding: 12px;
	border-radius: 5px;
	border: 2px solid #d3d3d4;

}
.form-email button{
	width: 350px;	
	padding: 6px;
	border-radius: 5px;
	background-color: #000; 
	font-size: 18px;
	color: #ecb31a;
}

.form-email button:disabled {
  opacity: 0.6;
	cursor: not-allowed;
  pointer-events: all !important;    
}

footer{
	border-top: 2px solid #dbd9db;
	background-color: #2a2f32;
	display: table;
	width: 100%;
	color: #fff;
	padding: 20px 0px 20px 0px;
	font-size: 12px;
	text-align: justify;
}

footer .rows{
	margin:0px;
	margin-top: 15px;
	padding: 0;

}

footer div.sugira{
	margin-top: 15px;
}
footer a.sugira{
	border: 1px solid #c9c8c8;
	display: table;
	color: #ecb31a;
	padding: 10px 85px 10px 80px;
	border-radius: 5px;
	font-size: 19px;
}
footer a.sugira:hover{
	background:#3a3d40;
	cursor: pointer;
	text-decoration: none;
}


#map-canvas {
	height: 600px;
	width: 100%;
}
#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}
.iw_content {
	padding: 15px 15px 15px 0;
}
.logo-rodape{
	top: 20px;
}
.aviso-botao-procurar{
	color:#bbb;
	font-size:11px;
}
.animar {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.espaco{
	margin-left:10px;
}
.active-color{
	color:#ecb31a;
}
.barra-footer{
	background-color:#65696b;
	height:18px;
}
.social{
	top:-13px;
}
.menu-topo{
	font-size:11px;
}
.taxa-corretora{	
	font-size:35px;
}
.termos-de-uso a{
	font-size:12px;
	color:white;
}

.login{
	margin: 30px;
}

.login input[type="email"],input[type="password"]{
	padding: 5px;
	height: 50px !important;
  width: 280px;
  font-size: 16px;
}

.login a{
	color: #000;
	text-decoration: underline;
}

.want{
	padding-left: 65px;
}

.where{
	padding-left: 115px;
}

.navbar a:hover{
  color: #ecb31a;
  text-decoration: underline;
}


