/*
 	*= require pages/bootstrap
  *= require pages/bootstrap-theme
  *= require pages/main
  *= require pages/jquery.selectbox.css
 */


.thumb-circle, .thumb-circle img {
  border-radius: 50%;
  width: 100%;
  border-radius: 50%;
  z-index: -10; 
  float: left;
  width: 100px;
}

.thumb-circle{
  margin-top: 15px;
}

.fixar {
    position:fixed;
    margin-top: -380px !important;
    width: 1140px;
    z-index: 9;
    margin-top: 100px;
}

.result-search{
  background-color: #fff;
  border-radius: 3px;
  padding: 8px;
  margin: 20px 0px 20px 0px;
}

.result-search li{
  border-bottom: 1px solid #EAEAEA;
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin-left: -35px;
}
.result-search li:hover{
	background:#f8f8f8;
}
.result-content{
  display: table;
}
.result-content .result-content-name{
  float: left;
}

.result-content .result-content-name{
  float: left;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;
  width: 175px;
}

.result-content .result-content-amount{
  float: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 0px;
  width: 203px;
}
.result-content-status{
  color: green;
  font-size: 13px;
  font-weight: bold;
}
.result-content-timer{
  font-size: 12px;
  color: #2a2f32;
}

.result-content-veja-mais{
  padding: 5px 25px 5px 25px;
  background-color: #ecb31a;
  border-radius: 8px;
  color: #2a2f32;
  font-size: 12px;

}

.infowin-thumb-circle, .infowin-thumb-circle img {
  border-radius: 50%;
  width: 100%;
  border-radius: 50%;
  z-index: -10; 
  width: 100px;
}

