/*
 	*= require pages/bootstrap
  *= require pages/bootstrap-theme
  *= require pages/main
  *= require pages/jquery.selectbox.css
  *= require pages/pre-load
  *= require select2
  *= require pages/easy-autocomplete
  *= require pages/easy-autocomplete.themes
 */

#have, #where, #want{
  width: 250px;
  height: 200px !important;
  padding: 20px;
}

.thumb-circle,.thumb-circle img
{
  border-radius: 50%;
  float: left;
  width: 100%;
  width: 60px;
  z-index: -10;
}
.thumb-circle
{
  margin-top: 10px;
}
.fixar {
    position:fixed;
    margin-top: -380px !important;
    width: 1240px;
    z-index: 9;
    margin-top: 100px;
    display: table;    
}

.result-search
{
  background-color: #fff;
  border-radius: 3px;
  display: table;
  margin: 20px 0px 20px 35px;
  padding: 8px;
}
.result-search ul
{
  display: table;
  margin: 0 auto;
  padding: 0;
}
.result-search li
{
  cursor: pointer;
  display: table;
  float: left;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
  transition: background 400ms ease;
  webkit-transition: background 400ms ease;
}
.result-search li:hover
{
  background: #f8f8f8;
}
.result-content{
  border: solid 1px #F7F7F7;
  display: table;
  padding: 10px;
}

.result-content a:hover{
  color: #333;
  text-decoration: underline;
}

.result-content .result-content-name
{
  float: left;
}
.result-content .result-content-name
{
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 25px;
  width: 217px;
}
.result-content .result-content-amount
{
  float: left;
  font-size: 20px;
  margin-left: 0px;
  width: 203px;
}

.result-content .result-content-amount strong{
  font-size: 28px;
}


.result-content-status
{
  color: green;
  font-size: 13px;
  font-weight: bold;
}
.result-content-timer
{
  color: #2a2f32;
  font-size: 11px;
}
.result-content-veja-mais
{
  background-color: #ecb31a;
  border-radius: 8px;
  color: #2a2f32;
  font-size: 12px;
  padding: 5px 25px 5px 25px;
}
.infowin-thumb-circle,.infowin-thumb-circle img
{
  border-radius: 50%;
  width: 60px;
  z-index: -10;
}

/* hide all elements & show preloader */
.js, .js body {overflow:hidden}
.js #loading_layer {visibility:visible;
  display:block !important;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index:10000}
.js #loading_layer .uil-facebook-css {position:fixed;top:50%;left:50%;width:64px;height:10px;margin:-5px 0 0 -32px}
.js .tab-pane {display:block !important}
.js .hide {display: inherit}



/* pin */

.map-content{
  width: 220px;
  height: 330px;
  margin-top: 10px;
  margin-left: 20px;
}
.map-content h3{
  text-align: center;
    color: #344351;
    font-size: 17px;
    font-weight: 900; 
}
.map-content  h2{
  color: green;
    font-size: 13px;
    font-weight: bold;
  margin-top:0px;
}
.map-content .valor {
    color: #333;
    font-size: 28px;
    font-weight: 900;
}
.map-content .valor img{
  margin-right:10px;
}
.map-content .endereco{
  text-align: center;
  font-size:14px;
  margin-top:10px;
  text-align:justify;
}
.map-content .telefone{
  font-size: 14px;
    font-weight: 900;
  margin-top:10px;
}
.map-content .oferta{
  border-radius: 5px;
    background: #ecb31a;
  margin-top:20px;
  padding: 10px 20px;
}
.map-content .oferta a{
  color: #333;
  text-transform: uppercase;
  font-weight: bold;  
}

.map-content .oferta a:hover{
  color: #333;
  text-decoration: underline;
}

