/*
 	*= require pages/bootstrap
  *= require pages/bootstrap-theme
  *= require pages/main
  *= require pages/jquery.selectbox.css
 */


.thumb-circle, .thumb-circle img {
  border-radius: 50%;
  width: 100%;
  border-radius: 50%;
  z-index: -10; 
  float: left;
  width: 100px;
}

.thumb-circle{
  margin-top: 15px;
}

.fixar {
    position:fixed;
    margin-top: -380px !important;
    width: 1140px;
    z-index: 9;
    margin-top: 100px;
    display: table;
}

.result-search{
  background-color: #fff;
  border-radius: 3px;
  padding: 8px;
  margin: 20px 0px 20px 0px;
  display: table;
}

.result-search ul{
  display: table;
  margin: 0 auto;
  padding: 0;
}

.result-search li{
  border-bottom: 1px solid #EAEAEA;
  list-style: none;
  padding: 10px 10px 10px 10px;
  float: left;
  display: table;
}
.result-search li:hover{
	background:#f8f8f8;
}
.result-content{
  display: table;
}
.result-content .result-content-name{
  float: left;
}

.result-content .result-content-name{
  float: left;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 20px;
  width: 217px;
}

.result-content .result-content-amount{
  float: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 0px;
  width: 203px;
}
.result-content-status{
  color: green;
  font-size: 13px;
  font-weight: bold;
}
.result-content-timer{
  font-size: 12px;
  color: #2a2f32;
}

.result-content-veja-mais{
  padding: 5px 25px 5px 25px;
  background-color: #ecb31a;
  border-radius: 8px;
  color: #2a2f32;
  font-size: 12px;

}

.infowin-thumb-circle, .infowin-thumb-circle img {
  border-radius: 50%;
  width: 100%;
  border-radius: 50%;
  z-index: -10; 
  width: 100px;
}

/* hide all elements & show preloader */
.js, .js body {overflow:hidden}
.js #loading_layer {visibility:visible;
  display:block !important;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:10000}
.js #loading_layer img {position:fixed;top:50%;left:50%;width:64px;height:10px;margin:-5px 0 0 -32px}
.js .tab-pane {display:block !important}
.js .hide {display: inherit}
